.text-updater-node {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #b1f1e3;
  border-radius: 5px;
  min-width: 300px;
  min-height: 50px;
}

.node-header{
  background-color: #b1f1e3;
  display: flex;
  padding: 2vh;
  justify-content: space-between; 
  align-items: center;
  height: 15px;
}

.left-side-header{
  display: flex;
  align-items: center;
}

.header-text{
  font-weight: 600;
}
  
.node-body{
  padding: 2vh;
  margin-left: 0.5vw;
  min-height: 20px;
}
  