.header-bar{
    background-color: #f3f3f3;
    height: 10vh;
}

.save-btn{
    color: #4651ad;
    font-weight: 600;
    font-size: medium;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    border-radius: 7px;
    border: 1.5px solid #4651ad;
    cursor: pointer;
    background-color: #ffffff;
    float: right;
    margin-top: 2vh;
    margin-right: 3vw;
}